<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav> -->

<!--The content below is only a placeholder and can be replaced.-->
<!-- <nav>
    <a routerLinkActive="active" routerLink="/employees-list">View Users</a><br>
    <a routerLinkActive="active" routerLink="/create-employee">Add User</a>
  </nav> -->
<router-outlet></router-outlet>
