.logincard {
    margin-top: 170px;
}

.heading{
    text-align: center;
}

.forget_pwd a{
    color: #ba54f5;
    font-weight: 300;
}
.forget_pwd a:hover, a:focus {
    color: #e14eca;
    cursor: pointer;
}