<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <div class="card-body">
            <h3 class="heading">FORGOT PASSWORD</h3>
            <p>Enter your Registered Email Id</p>
            <form #forgotForm="ngForm" >
                <div class="form-group">
                    <label class="pro-lbl-one"></label>
                    <input type="email" placeholder="Email Address" class="form-control pro-input-des" required
                        maxlength="50" #Email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,5}$"
                        [(ngModel)]="admin.email" name="email" />

                    <div *ngIf="Email.errors" class="error-div">
                        <div *ngIf="Email.errors.required && Email.touched" class="help-block requiredClass">
                            Email is required.
                        </div>
                        <div *ngIf="Email.errors.pattern" class="help-block requiredClass">
                            Please enter a valid email id.
                        </div>
                    </div>

                </div>

                <div class="mai_div_login">
                    <div class="forget_pwd" ><a routerLink="/login">Go back to login</a></div>
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Submit
                        </button>
                    </div>
            </form>
        </div>
    </div>
</div>
